Game ID : <%= game.id %>

<table border="1">
	<tr>
		<td id="e1" style="width: 20px;height: 20px" onclick="display(<%= game.id %>,'1')"></td>
		<td id="e2" style="width: 20px;height: 20px" onclick="display(<%= game.id %>,'2')"></td>
		<td id="e3" style="width: 20px;height: 20px" onclick="display(<%= game.id %>,'3')"></td>
	</tr>
	<tr>
		<td id="e4" style="width: 20px;height: 20px" onclick="display(<%= game.id %>,'4')"></td>
		<td id="e5" style="width: 20px;height: 20px" onclick="display(<%= game.id %>,'5')"></td>
		<td id="e6" style="width: 20px;height: 20px" onclick="display(<%= game.id %>,'6')"></td>
	</tr>
	<tr>
		<td id="e7" style="width: 20px;height: 20px" onclick="display(<%= game.id %>,'7')"></td>
		<td id="e8" style="width: 20px;height: 20px" onclick="display(<%= game.id %>,'8')"></td>
		<td id="e9" style="width: 20px;height: 20px" onclick="display(<%= game.id %>,'9')"></td>
	</tr>
</table>




