<div class="badge badge-primary" >Game ID : <%= game.id %></div>

	<div  onselectstart="return false;" ondragstart="return false;"  class="row">
		<br/>
		<div class="span3"><br/> </div>
		<div onselectstart="return false;" ondragstart="return false;"  class="span6">
	 <div onselectstart="return false;" ondragstart="return false;" class="pagination pagination-centered">
    <ul onselectstart="return false;" ondragstart="return false;" >
    <li onselectstart="return false;" ondragstart="return false;" onclick="display(<%= game.id %>,'1')"><a onselectstart="return false;" ondragstart="return false;" id="e1" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li onselectstart="return false;" ondragstart="return false;" onclick="display(<%= game.id %>,'2')"><a onselectstart="return false;" ondragstart="return false;" id="e2" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li onselectstart="return false;" ondragstart="return false;" onclick="display(<%= game.id %>,'3')"><a onselectstart="return false;" ondragstart="return false;" id="e3" style="width: 20px;height: 50px;font-size: x-large"></a></li>
   </ul>
   </div>
   <div onselectstart="return false;" ondragstart="return false;" class="pagination pagination-centered">
    <ul onselectstart="return false;" ondragstart="return false;" >
    <li onselectstart="return false;" ondragstart="return false;" onclick="display(<%= game.id %>,'4')"><a onselectstart="return false;" ondragstart="return false;" id="e4" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li onselectstart="return false;" ondragstart="return false;" onclick="display(<%= game.id %>,'5')"><a onselectstart="return false;" ondragstart="return false;" id="e5" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li onselectstart="return false;" ondragstart="return false;" onclick="display(<%= game.id %>,'6')"><a onselectstart="return false;" ondragstart="return false;" id="e6" style="width: 20px;height: 50px;font-size: x-large"></a></li>
   </ul>
   </div>
   <div onselectstart="return false;" ondragstart="return false;" class="pagination pagination-centered">
    <ul onselectstart="return false;" ondragstart="return false;" >
    <li onselectstart="return false;" ondragstart="return false;" onclick="display(<%= game.id %>,'7')"><a onselectstart="return false;" ondragstart="return false;" id="e7" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li onselectstart="return false;" ondragstart="return false;" onclick="display(<%= game.id %>,'8')"><a onselectstart="return false;" ondragstart="return false;" id="e8" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li onselectstart="return false;" ondragstart="return false;" onclick="display(<%= game.id %>,'9')"><a onselectstart="return false;" ondragstart="return false;" id="e9" style="width: 20px;height: 50px;font-size: x-large"></a></li>
   </ul>
   </div>
   <br/>
</div>
</div>



