<%= link_to 'New', :action => "new" %>
<table id="showTable" class="table table-striped" >
	<thead>
		<tr>
			<th>Game id</th>
			<th>UserName</th>
			<th>Join</th>
		</tr>
	</thead>
	<tbody>
		<% @games.each do |game| %>
		<tr id="<%= game.id %>" >
			<td><%= game.id %></td>
			<td><%= game.user1.name %></td>
			<td><%= link_to 'Join', new_game_path(game), :class =>'btn btn-small btn-primary' %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<!-- json periodically called each some time -->
<script>
	var time = 3000;
	setInterval(function(){
		$.getJSON('/games.json', function(data)
		{
			check(data);
		});
	}
	,time);
</script>
