<div class="container">
	<div class="row">
		<div class="span12">
		<p class="label label-inverse"><%= "Hello " + session[:user].name %></p>
		<div class="pagination">
 <ul>
 <li><%= link_to 'New', :action => "new" %></li>
</ul>
</div>

<table id="showTable" class="table table-striped" >
	<thead>
		<tr>
			<th>Game id</th>
			<th>Player1</th>
			<th>Player2</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @games.each do |game| %>
		<tr id="<%= game.id %>" >
			<td><%= game.id %></td>
			<td><%= game.user1.name %></td>
			<% if game.started %>
			<td><%= game.user2.name %></td>
			<td id="td<%= game.id %>"><%= link_to 'Watch', "/games/watch?id=" + game.id.to_s, :class =>'btn btn-small btn-success' %>
			<% else %>
			<td id="u2<%= game.id %>" ></td>
			<td id="td<%= game.id %>" ><%= link_to 'Join', "/games/join?id=" + game.id.to_s, :class =>'btn btn-small btn-primary' %>
			<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<!-- json periodically called each some time -->
<script>
	var time = 3000;
	setInterval(function(){
		$.getJSON('/games.json', function(data)
		{
			check(data);
		});
	}
	,time);
</script>

</div>
</div>
</div>
