<p><%= "Hello " + session[:user].name %></p>
<%= link_to 'New', :action => "new" %>
<table id="showTable" class="table table-striped" >
	<thead>
		<tr>
			<th>Game id</th>
			<th>UserName</th>
			<th>Join</th>
		</tr>
	</thead>
	<tbody>
		<% @games.each do |game| %>
		<tr id="<%= game.id %>" >
			<td><%= game.id %></td>
			<td><%= game.user1.name %></td>
			<% if game.started %>
			<td id="td<%= game.id %>"><%= link_to 'watch', "/games/watch?id=" + game.id.to_s%>
			<% else %>
			<td id="td<%= game.id %>" ><%= link_to 'Join', "/games/join?id=" + game.id.to_s, :class =>'btn btn-small btn-primary' %>
			<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<!-- json periodically called each some time -->
<script>
	var time = 3000;
	setInterval(function(){
		$.getJSON('/games.json', function(data)
		{
			check(data);
		});
	}
	,time);
</script>

