<%= render 'game' ,:game => @game %>
<p id="result" ></p>
<script type="text/javascript">
		var turn=true;
	var user=1;
	var time = 3000;
	var started = false;
	var changes=false;
	var gameEnded=false;
	var interv = setInterval(function(){
	$.getJSON('/games/isstarted.json?id=' +<%= @game.id %>, function(isstarted)
	{
	if(isstarted)
	{
	started = isstarted;
	window.clearInterval(interv)
	}
	});
	}
	,time);
	var turncheck = setInterval(function(){
	if(started && !gameEnded){
	$.getJSON('/games/turn.json?game=' + <%= @game.id %>+'&user='+<%= @game.user1.id %>, function(isMyTurn)
	{
	turn=isMyTurn;
	if(turn && !changes){
		changes=true;
	}
	});
	}
	}
	,time);

	var changesCheck = setInterval(function(){
		if(changes && !gameEnded){
			$.getJSON('/games/changes.json?game=' + <%= @game.id %>
			, function(data) {
				for(var i = 1; i < data.length; i++) {
					if(data[i-1] == null)
						document.getElementById("e" + i).innerHTML = '';
					else
						document.getElementById("e" + i).innerHTML = data[i-1];
				};
				if(data[data.length-1]=="X_Win"){
						gameEnded=true;
						document.getElementById("result").innerHTML="You Lost";
					}else if(data[data.length-1]=="O_Win"){
						gameEnded=true;
						document.getElementById("result").innerHTML="You Lost";
					}else if(data[data.length-1]=="Draw"){
						gameEnded=true;
						document.getElementById("result").innerHTML="Game Draw";
					}
			});
			}
		}
		,2000);
</script>