<div class="container">
	<div class="row">
		<div class="span12">
			<br/>
	<p class="badge badge-info" style="font-size: medium;"><%= "X      = " + @game.user1.name %></p>
<p class="badge badge-success" style="font-size: medium;"><%= "O      = " + @game.user2.name %></p>
<div class="row">
		<br/>
		<div class="span3"><br/> </div>
		<div class="span6">
	 <div class="pagination pagination-centered">
    <ul>
    <li ><a id="e1" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li ><a id="e2" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li ><a id="e3" style="width: 20px;height: 50px;font-size: x-large"></a></li>
   </ul>
   </div>
   <div class="pagination pagination-centered">
    <ul>
    <li ><a id="e4" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li ><a id="e5" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li ><a id="e6" style="width: 20px;height: 50px;font-size: x-large"></a></li>
   </ul>
   </div>
   <div class="pagination pagination-centered">
    <ul>
    <li ><a id="e7" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li ><a id="e8" style="width: 20px;height: 50px;font-size: x-large"></a></li>
    <li ><a id="e9" style="width: 20px;height: 50px;font-size: x-large"></a></li>
   </ul>
   </div>
   <br/>
   </div>
   </div>
<p id="result" class="well" ></p>
</div>
</div>
</div>
<script type="text/javascript">
var changesCheck = setInterval(function(){
			$.getJSON('/games/changes.json?game=' + <%= @game.id %>
			, function(data) {
				for(var i = 1; i < data.length; i++) {
					if(data[i-1] == null)
						document.getElementById("e" + i).innerHTML = '';
					else
						document.getElementById("e" + i).innerHTML = data[i-1];
				};
				if(data[data.length-1]=="X_Win"){
						window.clearInterval(changesCheck);
						document.getElementById("result").innerHTML="<%= @game.user1.name %> Won";
					}else if(data[data.length-1]=="O_Win"){
						window.clearInterval(changesCheck);
						document.getElementById("result").innerHTML="<%= @game.user2.name %> Won";
					}else if(data[data.length-1]=="Draw"){
						window.clearInterval(changesCheck);
						document.getElementById("result").innerHTML="Game Draw";
					}
			});
			}
		,1000);
</script>
